# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# IGNORE IDEA
/.idea
/deployment.xml
/modules.xml
/PastryShop.iml
/php.xml
/vcs.xml
/webServers.xml
